* 
{
	margin: 0;
	padding: 0;
}

body 
{
	font-family: 'Source Sans Pro', sans-serif;
	background: #FCF7F8;
}

h1, h2
{
	margin: 5px 0px;
}

.section
{
	height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	margin:auto;
	padding: 0px 50px;
}
.opener
{
	display: flex;
	flex-direction: column;
	align-items: center;
}

#nav-bar
{
	position: fixed;
	display: flex;
    background: #FCF7F8;

    justify-content: center;
     top: 0;
     height: 5vw;
      width: 100vw;
      z-index: 2;
}

#nav-bar img
{
    height: 4.5vw;
    width: 4.5vw;
	border-radius: 300px;
}
#nav-bar a
{
    display: inline-flex;
    align-items: center;
  	justify-content: center;
  	float:left;
  	color: black;
  	font-size: 1.39vw;
  	width: 100%;
  	text-decoration: none;
  	transition: 0.3s;
}

#nav-bar a:hover
{
	background-color: #8AB8FE;
	color: white;
}

#home
{
    position: relative;
    margin-top: 5vw;
}
#home img
{
    width: 100vw;
}

#text
{
    position:absolute;
    font-size: 8vw;
    top: 5vw;
    left: 6vw;
    color: white;

}

#resume
{
	display: flex;
	justify-content: center;
    align-items: center;
    color: black;
	width: 200px;
	height: 50px;
	border: 1px black solid;
	text-decoration: none;
	transition: 0.5s;
	margin: 15px;
}

#resume:hover
{
	background: #A31621;
	color: #FCF7F8;
	border-color: #A31621;
}

#about
{
	text-align: center;
}

#about img
{
	height: 200px;
	border-radius: 500px;
}

.content_container
{
	display: inline-flex;
	margin: 20px;
}

.img_caption_container
{
	margin: 20px;
}

