* 
{
	margin: 0;
	padding: 0;
}

body 
{
	font-family: 'Source Sans Pro', sans-serif;
    background: #FFFFFF;
}

h1, h2
{
	margin: 5px 0px;
}

.section
{
	display: flex;
	flex-direction: column;
    align-items: center;


}
.opener
{
	display: flex;
    align-items: center;
    margin:auto;

}
#nav-bar
{
    position: fixed;
	display: flex;
    background: #FFFFFF;
    top: 0;
    height: 5vw;
    width: 100vw;
    z-index: 100;

}

#nav-a
{
	position: fixed;
	display: flex;
    background: #FFFFFF;
    justify-content: center;
    top: 0;
    height: 5vw;
    width: 5vw;
    margin-left: 5vw;
    margin-right: 10vw;


}
#nav-b
{
	position: fixed;
	display: flex;
    background: #FFFFFF;

    justify-content: center;
    top: 0;
    height: 5vw;
    width: 33vw;
    margin-left: 65vw;

}

#nav-a img
{
    height: 4.5vw;
    width: 4.5vw;
    border-radius: 300px;

}

#nav-bar a
{
    display: inline-flex;
    align-items: center;
  	justify-content: center;
  	float:left;
  	color: black;
  	font-size: 1.39vw;
  	width: 100%;
  	text-decoration: none;
  	transition: 0.3s;
}

#nav-a a:hover
{
	color: #A8CCF6;
}

#nav-b a:hover
{
	color: #A8CCF6;
}

#home
{
    position: relative;
    padding-top: 5vw;
}
#home img
{
    width: 100vw;
}

#text
{
    position:absolute;
    font-size: 8vw;
    top: 8vw;
    left: 6vw;
    color: white;

}

#about
{
    background-color: #FFFFFF;
    position: relative;
    text-align: left;
    font-weight:normal;
    padding-top: 6.5vh;
}

#about h1
{
    font-size: 46px;
    height:55.26px;
    width:203px;
    border: 3px black solid;
    text-align: center;
    margin-top:2vw;

    
}

#about h2
{
    font-size: 37px;
}

#about h3
{
    font-size: 23px;
}
#about h4
{
    font-size: 14px;
}

#about
{
    font-weight:normal;
}

#about img
{
	height: 200px;
    border-radius: 500px;
    margin-right: 5vw;

}

.content_container
{
    text-align: center;
}

.edCap
{
    align-items: center;
    margin: auto;
}

#edText h4
{
    font-weight:normal;
    color: #8E8E8E;
}

.content_container
{
    margin:46px;
}
.img_caption_container
{
    height:185px;
    display: flex;
    margin: 46px;
}

.logos {
    display: grid;
    width: 600px;

    justify-items: center;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
    grid-auto-rows: minmax(70px, 150px);
    margin-bottom: 76px;
  }
.logos img
{
    height: 150px;

    align-content: center;
}

#skills h2
{
    font-size: 37px;
    margin-bottom:46px;
}

/*.l img:hover
{
    opacity: 0.7;
}*/
#res img
{
    height: 400px;
    border:1px black solid;
}

#resume
{
	display: flex;
	justify-content: center;
    align-items: center;
    color: black;
	width: 200px;
	height: 50px;
	border: 1px black solid;
	text-decoration: none;
	transition: 0.3s;
    margin: 35px;
    
}

#resume:hover
{
	background: #A8CCF6;
	color: #Ffffff;
	border-color: #A8CCF6;
}
#connect
{
    background-color: #969696;
    height:200px;

}

#connect h1{
    margin-top: 20px;
    margin-bottom: 10px;
}
#connect img{
    display: inline-flex;
    width:30px;
    margin:10px;
    
}

#connect img:hover{
    opacity: 0.7;
}

/* Extra small devices (phones, 600px and down) - PORTRAIT */ 
@media only screen and (max-width: 600px) and (orientation: portrait)
{
    #nav-bar
    {
        height:10vw;
    }
	#nav-bar a
	{
	  	font-size: 7vw;
    }
    #about h1
    {
        font-size: 10px;
    }
	.content_container
	{
		display: flex;
		flex-direction: column;
		margin: 20px;
	}
	#about img
	{
		height: 100px;
	}
	.img_caption_container
	{
        align-items: center;
        margin: auto;
    }
    
    .logos{
        width: 100px;
    }
    .logos img
    {
        height: 75px;

    }   
} 